html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Super Mario 256";
  src:
    url("../fonts/SuperMario256.woff2") format("woff2");
}

/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

a {
  color: inherit;
}

a:hover {
  color: #ffc805;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #00ff1526;
  border: 1px solid #00ff2a33;
} */


@media (min-width: 992px) {
  .burger {
    display: none;
  }
}



@media (max-width: 991px) {
  .mobile {
    display: none;
  }
}

h1 img {
  margin: 32px 0;
  width: 450px;
}

@media (max-width: 576px) {
  h1 img {
    width: 257px;
    margin: 60px 20px 15px 0;
  }
}

a {
  text-decoration: none;
  white-space: nowrap;
}

.home-menu {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 41px 0 41px 0;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

@media (max-width: 991px) {
  .home-menu {
    display: none;
  }
}

.first-quote {
  color: #ffffff;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.50);
  font-family: 'Work Sans', sans-serif;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  margin: 0 10px;
  padding: 0 333px;
}

@media (max-width: 576px) {
  .first-quote {
    font-size: 30px;
    margin: 47px 32px 30px;
    padding: 0 10px;
  }
}

.forms {
  background-color: #ff0000;
  border: 1.5px solid #000000;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.50);
  width: 324px;
  height: 53px;
  text-align: center;
  margin: 41px auto 0;
  padding: 16px 0;
}

@media (max-width: 576px) {
  .forms {
    margin: 0 0 47px;
  }
}

.forms a {
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-family: 'Super Mario 256', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.banner {
  background-image: url(../img/inside.png);
  background-size: cover;
  background-position: center;
  padding-top: 230px;
  padding-bottom: 241px;
}

@media (max-width: 576px) {
  .banner {
    padding: 15px;
  }
}

.forms:hover {
  background-color: #ffc805;
}

.red-quote {
  color: #ff0000;
  opacity: 0.4;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-top: 90px;
}

@media (max-width: 576px) {
  .red-quote {
    font-size: 12px;
    margin: 51px 63px 11px;
  }
}

.description {
  font-family: 'Work Sans', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 90px;
}

@media (max-width: 576px) {
  .description {
    font-size: 16px;
    margin: 0 30px 51px;
  }
}

.yellow {
  background-color: #fbcb4f4d;
}

.next-events {
  margin: 68px 0 48px 0;
}

@media (max-width: 576px) {
  .next-events {
    font-size: 30px;
    -webkit-text-stroke: 1.5px #000000;
    text-align: center;
    margin: 51px 89px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .next-events {
    font-size: 40px;
    text-align: center;
  }
}

h2 {
  color: #ffffff;
  -webkit-text-stroke: 2px #000000;
  font-family: 'Super Mario 256', sans-serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.50);
}

.all-events {
  background-color: #ff0000;
  border: 1.5px solid #000000;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.50);
  width: 261px;
  height: 51px;
  text-align: center;
  margin: 58px 0 52px 0;
  padding: 16px 0;
}

.all-events:hover {
  background-color: #ffc805;
}

.all-events a, .all-events-two a, .all-food a, .book-table a, .follow a {
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-family: 'Super Mario 256', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.event {
  position: relative;
}

@media (max-width: 576px) {
  .event {
    margin: 0 30px 40px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .event {
    margin: 0 0 50px;
  }
}

.event img {
  width: 100%;
  aspect-ratio: 1.2;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 6px 6px 15px 3px rgba(0, 0, 0, 0.30);
}

@media (max-width: 576px) {
  .event img {
    border-radius: 20px;
    aspect-ratio: 1.13;
  }
}

.event-date {
  color: #ffffff;
  -webkit-text-stroke: 0.5px #000000;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  position: absolute;
  left: 22px;
  right: 0;
  bottom: 55px;
}

@media (max-width: 576px) {
  .event-date {
    font-size: 27px;
    left: 23px;
    bottom: 58px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .event-date {
    font-size: 28px;
    bottom: 68px;
  }
}

.event-title {
  font-family: 'Super Mario 256', sans-serif;
  -webkit-text-stroke: 1.5px #ffffff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.5px;
  position: absolute;
  left: 22px;
  right: 58px;
  bottom: 21px;
}

@media (max-width: 576px) {
  .event-title {
    font-size: 26px;
    -webkit-text-stroke: 1px #ffffff;
    left: 21px;
    right: 23px;
    bottom: 17px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .event-title {
    font-size: 30px;
    letter-spacing: 2px;
  }
}

.golden-event {
  background-color: #ffc700;
  border: 1px solid #000000;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.40);
  width: 121px;
  height: 32px;
  font-family: 'Super Mario 256';
  -webkit-text-stroke: 1px #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  padding: 9px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media (max-width: 576px) {
  .golden-event {
    -webkit-text-stroke: 0.5px #ffffff;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .golden-event {
    width: 250px;
    height: 50px;
    font-size: 25px;
    padding: 12px 0;
  }
}

.reward {
  margin: 28px 16px 0 16px;
}

.event-description {
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  font-weight: 500;
  display: flex;
}

@media (max-width: 991px) {
  .event-description {
    display: none;
  }
}

.age {
  border-left: #000000 1.5px solid;
  font-family: 'Work Sans', sans-serif;
  font-size: 23px;
  font-weight: 700;
  margin: 19px 0 54px 0;
  padding: 13px 30px;
  white-space: nowrap;
}

.all-events-two {
  background-color: #ff0000;
  border: 1.5px solid #000000;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.50);
  width: 261px;
  height: 51px;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-family: 'Super Mario 256', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 85px 0 80px 0;
  padding: 16px 0;
}

.all-events-two:hover {
  background-color: #ffc805;
}

@media (max-width: 576px) {
  .all-events-two {
    margin: 11px 76px 51px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .all-events-two {
    margin: 10px 0 60px;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.red {
  background-color: #ff5c004d;
}

.best-sellers {
  text-align: center;
  margin: 80px 0 0 ;
}

@media (max-width: 576px) {
  .best-sellers {
    font-size: 30px;
    -webkit-text-stroke: 1.5px #000000;
    letter-spacing: 0.5px;
    margin: 51px 0 0;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .best-sellers {
    font-size: 40px;
    white-space: nowrap;
  }
}

h4 {
  color: #000000;
  -webkit-text-stroke: 1px #ffffff;
  font-family: 'Super Mario 256', sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.50);
  margin-bottom: 28px;
}

@media (max-width: 576px) {
  h4 {
    font-size: 28px;
    margin: 0 0 40px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  h4 {
    font-size: 35px;
  }
}

.menu-description {
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 576px) {
  .menu-description {
    font-size: 20px;
    margin: 0 52px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .menu-description {
    font-size: 20px;
    padding: 0 50px;
  }
}

.all-food {
  background-color: #ff0000;
  border: 1.5px solid #000000;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.50);
  width: 196px;
  height: 52px;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-family: 'Super mario 256', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 73px 0 114px 0;
  padding: 16px 0;
}

.all-food:hover {
  background-color: #ffc805;
}

@media (max-width: 576px) {
  .all-food {
    margin: 51px 0;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .all-food {
    margin: 60px 0;
  }
}

h3 img {
  width: 268px;
  margin: 75px 0 31px 0;
}

@media (max-width: 576px) {
  h3 img {
    width: 321px;
    margin: 51px 0;
  }
}

@media (min-width: 580px) and (max-width: 991px) {
  h3 img {
    margin: 40px 0 20px;
  }
}

h5 {
  color: #ffffff;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.50);
  -webkit-text-stroke: 1.5px #000000;
  font-family: 'Super Mario 256', sans-serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

@media (max-width: 576px) {
  h5 {
    font-size: 25px;
    -webkit-text-stroke: 1.75px #000000;
    text-align: center;
    margin: 0;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  h5 {
    margin: 30px 0 15px;
  }
}

.infos {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 576px) {
  .infos {
    font-size: 18px;
    text-align: center;
    margin: 40px 0;
  }
}

@media (max-width: 576px) {
  .first-to-follow {
    font-size: 17px;
    margin: 20px 62px 40px;
  }
}

.book-table {
  background-color: #ff0000;
  border: 1.5px solid #000000;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.50);
  width: 232px;
  height: 54px;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-family: 'Super Mario 256', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 16px 0;
}

.book-table:hover {
  background-color: #ffc805;
}

@media (max-width: 576px) {
  .book-table {
    margin: 0 0 40px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .book-table {
    margin: 0 0 30px;
  }
}

.follow {
  background-color: #00b2ff;
  border: 1.5px solid #000000;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.50);
  width: 122px;
  height: 53px;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-family: 'Super Mario 256', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 16px 0;
}

.follow:hover {
  background-color: #1bc200;
}

@media (max-width: 576px) {
  .follow {
    margin: 0 0 40px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .follow {
    margin: 20px 0 30px;
  }
}

@media (max-width: 576px) {
  .center-mobile {
    display: flex;
    justify-content: center;
  }
}

.email-address {
  background-color: #fbcb4f4d;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
  color: #abaaa9;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 42px;
  margin: 16px 0;
  padding: 12px 14px 12px;
}

@media (max-width: 576px) {
  .email-address {
    font-size: 15px;
    text-align: center;
    margin: 0 80px 40px;
    padding: 12px 28px;
  }
}

@media (max-width: 576px) {
  .contact {
    text-align: center;
    margin: 0;
  }
}

.networks {
  display: flex;
  margin: 14px 0 76px;
}

@media (max-width: 576px) {
  .networks {
    display: flex;
    justify-content: space-around;
    margin: 40px 69px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .networks {
    margin: 10px 0 50px;
  }
}

.networks img {
  margin-right: 14px;
  width: 25px;
}

@media (max-width: 576px) {
  .networks img {
    width: 60px;
    margin: 0;
  }
}

.context {
  font-family: 'Work sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 13px;
}

@media (max-width: 576px) {
  .context {
    font-size: 17px;
    text-align: center;
    margin: 0 0 51px;
  }
}