/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #00ff1526;
  border: 1px solid #00ff2a33;
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
}

@media (max-width: 991px) {
  .nav {
    display: none;
  }
}

@media (max-width: 991px) {
  .mobile {
    display: none;
  }
}

.event {
  position: relative;
}

.event img {
  width: 100%;
  aspect-ratio: 1.2;
  object-fit: cover;
}

.golden-event {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.event-date {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
}

.event-title {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.event-description {
  display: flex;
  padding: 20px 0;
}

.event-description p {
  padding-right: 15px;
}

.event-description .age {
  border-left: #000000 solid 2px;
  padding: 10px 20px;
}
